<app-header></app-header>
<div class="hr"></div>

<div class="container">
    <div class="d-flex details-wrapper align-items-center ">
        <div class="col-lg-6 col-sm-12  detailimgs p-2 mt-3 ">
            <div  #detailImg class="card border-1 shadow rounded-4 cycle-autoinit"
            data-cycle-fx=fadein
            data-cycle-timeout=1000>
            <div class="cycle-overlay"></div>
                <img src="../../../assets/images/ian-schneider-TamMbr4okv4-unsplash.jpg" class="d-block w-100" alt=""   rounded-4>
                <img src="../../../assets/images/collaboration4.jpg" alt="" class="d-block w-100"  rounded-4>
            </div>
        </div>

        <div #detailInfo class="detailsInfo align-self-end text-center  p-2 cycle-slideshow cycle-autoinit" 
            
        
            data-cycle-slides="p"
            data-cycle-timeout=20000
        data-cycle-delay="-10000">
hi<br>fhhshshsh<br>mkcdskldsklcklnklscdnklckllckjsckcsnklcnkcnscknnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnlcdsllllllllllllllllllcddddddddddddddddddddddddddddnnnnnnnnnnnnnnnnnnnnnnnnnnncaaaaaaaaaaaaa
        </div>
    </div>

</div>
