<app-header></app-header>
<div class="hr"></div>
<div class="wrapper mt-3">
    <h1>About the artist</h1>
    <div class="about p-5" >
        <div class="avatar">
            <img src="../../../assets/images/pexels-nitin-khajotia-1516680.jpg" class="mb-3" alt="avatar">
            <h4>Name of Artist</h4>
        </div>
        <p class="about-info">
            Description of the work The artist is best known for exploring the raw intersection of race, gender, and sexuality through her iconic, silhouetted figures. Walker unleashes the traditionally proper Victorian medium of the silhouette directly onto the walls of the gallery, creating a theatrical space in which her unruly cut-paper characters fornicate and inflict violence on one another.

In works like Darkytown Rebellion (2000), the artist uses overhead projectors to throw colored light onto the ceiling, walls, and floor of the exhibition space; the lights cast a shadow of the viewer’s body onto the walls, where it mingles with Walker’s black-paper figures and landscapes. With one foot in the historical realism of slavery and the other in the 
        </p>
    </div>
    
    <div class="hrt"></div>
    <div class="contact-adress-media">
    <div class="contact">
        <h2>Contact</h2>
        <div class="address">
            <p>Kumasi, Ghana</p>
            <p>(+233) 788 45 9321</p>
            <p>emailhere@gmail.com</p>
        </div>
        
    </div>
    <div class="social-media-handles">
        <h2>social media</h2>
        <div class="handles">
            
            <p>instagram</p>
            <p>facebook</p>
        </div>
        
    </div>
</div>
</div>